*.swp
.color_coded
.ycm_p
.ycm_extra_conf.py
*.pyc
*.egg-info

# build directories
release/
debug/
.DS_STORE
.idea/
config.log
target/
_build/

# scala
dependency-reduced-pom.xml
*.iml

docker-compose.yml
