cloudpickle==0.2.2
Fabric==1.13.1
ipython==5.1.0
jupyter==1.0.0
matplotlib==2.0.0
numpy==1.11.3
pandas==0.19.2
PyYAML==3.12
pyzmq==16.0.2
requests==2.12.4
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.1
subprocess32==3.2.7
tensorflow==0.12.1
clipper_admin
