requests>=2.20.0
pyyaml>=4.2b1
subprocess32==3.2.7
docker==2.5.1
kubernetes==6.0.0
mock
prometheus_client
redis
# https://github.com/ucbrise/clipper/issues/678.
# It should be removed once urllib3>=1.25 is compatible with requests library
urllib3<1.25
